@font-face {
  font-family: 'Muli';
  font-style: bold;
  font-weight: 700;
  src: local('Muli'), local('Muli'), url(../Fonts/Muli-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), local('Muli'), url(../Fonts/Muli-Regular.ttf) format('truetype');
}




:root {
	--marginTopFooter: 100px; 
	--heightFooter: 125px;
	--paddingTopFooter: 50px;
	--paddingBottomFooter: 0px;

	--link: white;
}


html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	margin:0;

	font-family: 'Muli', sans-serif;
}

.pushFooter {
	padding-bottom: calc(var(--marginTopFooter) + var(--heightFooter) + var(--paddingTopFooter) + var(--paddingBottomFooter));
}

footer {
	padding-top: var(--paddingTopFooter);
	padding-bottom: var(--paddingBottomFooter);
	color: #ED403A;
	bottom: 0;
	position: absolute;
	height: var(--heightFooter);
	width: 100%;
	background-color: #24272b; /* PWr color footer :D */
}







a {
  text-decoration: none;
  color: var(--link);
  padding: 10px;
  background: rgba(0,0,0,0.09);
}

a:hover {
  border-bottom: solid 2px;
  transition: all 0.1s linear;
}